<!DOCTYPE html>
<html>
<head>
  <title>{{ title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="Access-Control-Allow-Origin" content="*">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
  <script src="http://127.0.0.1:8000/socket.io/socket.io.js"></script>
</head>
<body>
<header class="row no-gutters">
  <h1 class="col-2">{{ title }}</h1>
  <div class="col-10 pseudoFrame">
    <span id="username">{{ user.username | default('userName') }}</span>
    <a href="/saves/list" id="save" onclick="loadTablesSave(event)">Liste des tableaux sauvegarder</a>
    <a href="/" id="createTable">Créer</a>
    <a href="/users/logout" id="logout" style="{{ user and user._id ?: 'display:none' }}" onclick="logout(event)">log out</a>
  </div>
</header>
<main class="container" style="dislpay:flex;">
    {% block body %}{% endblock %}
</main>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<script src="/javascripts/app.js"></script>
<script>
document.getElementById('save').style.display = 'none' ;
document.getElementById('createTable').style.display = 'none' ;
</script>
</body>
</html>
